@charset "UTF-8";

body {
    background-color: ghostwhite ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: forestgreen;
    background-color: rgb(163, 222, 135);
}

h2 {
    color: rgb(118, 194, 149);
}

p {
    text-align: justify;
}